<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p><strong>Filtra i post per categoria:</strong></p>
        <p>
          <a href="/"><button class="category-button" type="button">Tutti i post</button></a>&nbsp;
          {%- for category in site.categories -%}
            <a href="{{ category.slug | relative_url }}"><button class="category-button" type="button">{{ category.title }}</button></a>&nbsp;
          {%- endfor -%}
        </p>
      </div>  
      <div class="wrapper">
        {{ content }}
      </div>
      <div class="wrapper">
        <p><strong>Filtra i post per categoria:</strong></p>
        <p>
          <a href="/"><button class="category-button" type="button">Tutti i post</button></a>&nbsp;
          {%- for category in site.categories -%}
            <a href="/{{ category.slug }}/"><button class="category-button" type="button">{{ category.title }}</button></a>&nbsp;
          {%- endfor -%}
        </p>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
